* {
    box-sizing: border-box;
}

.topmenu {
    margin-left:10%;
    width:50%;
    height:30px;
    margin-bottom: 5px;
}
.leftmenu {
    width: 10%;
    height:570px;
    padding-right: 5px;
    float: left;
}
.content {
    width: 50%;
    height:570px;
    float: left;
}

.inputparams {
    margin-bottom:5px;
    margin-right:5px;
    text-indent: 5px;
    display:block;
}

#inputReceiver1{
    float: left;
    display: inherit;
}

#viewSender{
    border: 5px solid;
    border-radius: 2px;
    border-color: #0a73a7;
    margin-bottom: 2px;
    theme: theme;
}
#viewSubject{
    border: 5px solid;
    border-radius: 2px;
    border-color: #0a73a7;
    margin-bottom: 2px;
    theme: theme;
}

.editor {
    height:508px;
    text-indent: 3px;
}

.jqx-fill-state-hover-darkblue{
    background: #FFFFFF; !important;
    color:#004a73; !important;
}