*, *:before, *:after {
    box-sizing: inherit;
}

.jqx-tabs-header{
    height:26px !important;
}

.jqx-tabs-title{
    padding-top:3px !important;
}

.jqx-tabs{
    border:0px;
}

.jqx-scheduler{
    border:0px;
}

.jqx-tree{
    border:0px;
}

.jqx-rc-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


.jqx-rc-t {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.jqx-rc-r{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.jqx-navbar{
    border:1px solid #004a73;
    box-sizing: border-box;
}

.jqx-menu{
    /*border:0px;*/
}

#leftmenu .jqx-window-header {
    box-sizing: border-box;
}

#mailcontainer .jqx-grid{
    border:1px solid #004a73;
    box-sizing: border-box;
}

/*to be checked for layout bugs*/
.jqx-layout{
    border:0px;
}

#MailTable{
box-sizing: border-box !important;
}

iframe { display: block; }

#schedulercontainer,
#mailcontainer{
width: 100%;
height: 100%;
position: relative;
}

#jqxLayout,
#showWindowButton {
position: absolute;
top: 0;
left: 0;
}
#showWindowButton {
z-index: 9999991;
}

.MailButton{
cursor:pointer;
border:none;
width:100px;
height:100px;
}

.MailButton:focus{
outline:none;
}

/*.leftmenu {
    margin-top: 100px;
    height: calc(100% - 100px); !important;
}*/

.inputs * {
    margin-bottom:5px;
    margin-right:5px;
    text-indent: 5px;
    display:block;
}

#inputReceiver1,
#inputSubject {
    float: left;: left;
}

.editor {
    height: calc(100% - 64px);
}

.ViewTextBlock{
    height:25px;
    width:100%;
    margin-bottom: 5px;
    text-indent: 5px;
    color: #004a73;
    border: 1px solid;
    border-radius: 3px;
    border-color: #004a73;
}

#viewer{
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    border-color: #004a73;
    background-color: #FFFFFF;
    text-indent: 5px;
}

.edcontainer {
    height: 100%;
    width: 100%;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 3px;
    border-color: #004a73;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#3c91c2),to(#449bca));
}

/*hide window title*/
#jqxwindow .jqx-window-header {
    display:none;
}

/*style window content after hidding title*/
#jqxwindow .jqx-window-content{
    padding: 0px;
    display: inline;
}

/*jqxlayout hide tab headers*/
.jqx-layout-ribbon-header{
    display:none !important;
}

/*notification table z position*/
.jqx-notification-container {
    z-index: 10000000;
}

#mailcontainer .jqx-ribbon-content-section {
    /*border-color: transparent;*/
    border: 5px solid transparent;
    overflow: hidden;
}

/*style login and register pages*/
.iris-login-main{
    width: 380px;
    border: 1px solid #CCC;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
}

.iris-page-header{
    margin: 0 0 12px;
    padding-top: 7px;
}

.iris-header{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid #d5e3ef;
    font-size: 21px;
    line-height:28px;
    color: #478fca;
    font-weight: lighter;
}

.iris-label label{
    margin-top: 11px;
    min-height: 30px;
    padding-top: 3px;
    margin-bottom: 6px;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
}

.iris-input input{
    width: 100%;
}

.iris-button button{
    margin-top: 15px;
    float: right;
    min-width: 90px;
    background-color: #87b87f;
    color: #fff;
    border: 5px solid #87b87f;
    padding: 6px 12px;
}

.iris-button button{
    top: 1px;
    left: 1px;
}

.iris-button button:hover{
    background-color: #629b58;
}

.iris-input input[type="text"], .iris-input input[type="password"]{
    color: #858585;
    border: 1px solid #d5d5d5;
    padding: 5px 4px;
    line-height: 1.2;
    font-size: 14px;
    box-shadow: none;
    transition-duration: .1s;
}

.iris-input input[type="text"]:hover, .iris-input input[type="password"]:hover {
    border-color: #b5b5b5;
}

.iris-input input[type="text"]:focus, .iris-input input[type="password"]:focus {
    color: #696969;
    border-color: #f59942;
    outline: 0;
}